[Unit]
Description=LiteMon - lightweight metrics collector for Linux
After=local-fs.target network-online.target systemd-resolved.service

[Service]
ExecStart=/usr/bin/litemon /etc/litemon/config.kdl
Type=simple
Restart=on-failure
PrivateTmp=yes
ProtectSystem=full
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
